body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 1250px; /* Largura igual à largura da janela de visualização */
}

/* Estilos para a seção de links */
.menu {
    background-color: #333;
    /* Cor de fundo */
    padding: 10px;
    margin-bottom: 20px;
    width: 1270px; /* Largura igual à largura da janela de visualização */

    /* Espaçamento interno */
}

.menu a {
    text-decoration: none;
    /* Remove sublinhado dos links */
    color: #fff;
    /* Cor do texto */
    margin-right: 20px;

    /* Espaço entre os links */
}

.menu a:last-child {
    margin-right: 0;

    /* Remove a margem direita do último link */
}


/* Estilos para o logotipo */
.logo {
    background-color: black;
}

.logo img {
    width: 100px;
    /* Largura da imagem */
    height: auto;
    /* Altura automática para manter a proporção */
    /* Espaço entre o logotipo e o conteúdo à direita */
    margin-left: 1170px;
    margin-bottom: 1px;
    border-radius: 40px;

}

/* Estilos para o container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para cada imagem com descrição */
.imagem-com-descricao {
    text-align: center;
    margin: 20px;
}

.imagem-com-descricao img {
    max-width: 75%;
    height: 200px;
    border: 2px solid #333;
    border-radius: 80px;
}

.imagem-com-descricao p {
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}

/* Estilos para h2 frase simule emprestimos */

.fraseSimuleEmprestimo h2 {
    margin-left: 350px;
    color: #cdf102;
    font-size: 50px;
}

/* Estilos gerais para o formulário */
#calculadora-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para os rótulos */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilos para os campos de entrada e seleção */
  input[type="number"],
  select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para o botão de calcular */
  #calcular {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Estilos para a saída do resultado */
  #resultado {
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #3e0ee9;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
  
  #valor-parcela {
    font-size: 24px;
    font-weight: bold;
  }

  #seja-cliente {
    margin-top: 50px;
    margin-left: 110px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Transforma o cursor em uma mão ao passar o mouse */
  }
  
  #seja-cliente:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse passa por cima */
  }

  /* Estilos para a seção de perguntas frequentes */
.faq {
    border-radius: 100px;
    margin-top: 25px;
    width: 1250px; /* Largura igual à largura da janela de visualização */
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .faq h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .faq ul {
    list-style: none;
    padding: 0;
  }
  
  .faq li {
    margin-bottom: 20px;
  }
  
  .faq h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .faq p {
    font-size: 16px;
    color: #333;
  }

   /* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 1250px; /* Largura igual à largura da janela de visualização */
    text-align: center;
  }
  
  /* Estilos para as informações de contato */
  .contato {
    margin-bottom: 20px;
  }
  
  .contato p {
    margin: 5px 0;
  }
  
  /* Estilos para os ícones de redes sociais */
  .redes-sociais a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .redes-sociais img {
    width: 30px; /* Largura dos ícones */
    height: 30px; /* Altura dos ícones */
  }
  
  
  
  